{% extends "base.html" %}

{% block title %}Music{% endblock %}

{% block head %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/css/music_index.css">

{% endblock%}

{% block content %}

	

	<div class="page-header">
	    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
	    <ul class="type" id="type">
	    	<li data-type="dot">Dot</li>
	    	<li data-type="column" class="selected">Column</li>
	    </ul>
	    <p>
	    	Volume <input id="volume" type="range" min="0" max="100" value="60">
	    </p>
	</div>


	<div class="left">
		<ul id="list">
			{% for music in music_list %}
			<li title="{{music}}">{{music}}</li>
			{% endfor %}
		</ul>

	</div>


	<div class="right" id="box"></div>


	<script type="text/javascript" src="../static/js/music_index.js"> </script>

{% endblock %}